#get-involved-page {
  #hero-section {
    height: 100vh; // Take up 100% of the viewport height
    width: 100%; // Take up 100% of the viewport width

    background-image: url("/src/images/get-involved-bg.jpg");
    background-size: cover; // Cover the entire window
    background-repeat: no-repeat; // Do not repeat the image
    background-position: center center; // Center the image

    h1 {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;

      //adjust to fit different pages
      color: $pink;
      width: 60%;
    }
  }
  #coral-display {
    padding: 0;
    min-height: 500px;
  }

  #gallery {
    padding: 0;
    #gallery-heading {
      display: flex;
      align-items: center;
      padding-left: 2rem;
      border-bottom: 1px solid black;
      h2 {
        flex: 2;
      }
    }
    .glide__track {
      margin: 2rem;
    }
  }
}
