#learn-page {
  #hero-section {
    height: 100vh; // Take up 100% of the viewport height
    width: 100%; // Take up 100% of the viewport width

    background-image: url("/src/images/learn-more-background.jpg");
    background-size: cover; // Cover the entire window
    background-repeat: no-repeat; // Do not repeat the image
    background-position: center center; // Center the image

    h1 {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;

      //adjust to fit different pages
      color: $green;
      width: 60%;
    }
  }
  #learn-importance {
    margin-top: 4rem;
    border-top: 1px solid black;
    #importance-text {
      min-height: 420px;
      padding: 0;
      h2 {
        border-bottom: 1px solid black;
        padding: 2rem 4rem;
        text-transform: capitalize;
      }
      p {
        padding: 4rem;
      }
    }
    #importance-control {
      padding: 0;
      display: flex;
      justify-content: space-between;

      .progress-container {
        align-items: center;
        flex: 2;
        display: flex;
        justify-content: space-around;
        .progress-dot {
          height: 2rem;
          width: 2rem;
          border: 1px solid black;
          border-radius: 50%;
          display: inline-block;

          &.active {
            background-color: black;
          }
        }
      }
    }
  }
  #learn-threats {
    .expansion-grid {
      --track: 1;
      display: grid;
      width: 100%;
      transition: grid-template 300ms;
    }

    .expansion-item {
      border: 1px solid black;
      margin-left: -1px;
      margin-top: -1px;
      display: grid;
      place-items: center;
      grid-template: 1fr / 1fr var(--innerTrack, 0);
      overflow: hidden;
      transition: background-color 200ms;

      .text-wrapper {
        margin: 0 2rem;
        h3 {
          font-size: 2.5rem;
        }
        p {
          margin-top: 2rem;
          font-size: 1.5rem;
          opacity: 0;
          display: none;
        }
      }
      .img-wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          transform: translate3d(0, 0, 100%);
          transition: transform 200ms;
          pointer-events: none;
        }
      }

      &:hover {
        background-color: $green;
        grid-template: 1fr / 1fr var(--innerTrack, 0);
        p {
          opacity: 1;
          display: block;
        }
        img {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    @media (min-width: 50em) {
      .expansion-grid {
        grid-template: 1fr 1fr / 1fr 1fr;
        aspect-ratio: 2 / 1;
      }

      .expansion-item {
        aspect-ratio: auto;
      }

      .expansion-grid:has(.expansion-item:first-child:hover) {
        grid-template: var(--track) 1fr / var(--track) 1fr;
      }

      .expansion-grid:has(.expansion-item:nth-child(2):hover) {
        grid-template: var(--track) 1fr / 1fr var(--track);
      }

      .expansion-grid:has(.expansion-item:nth-child(3):hover) {
        grid-template: 1fr var(--track) / var(--track) 1fr;
      }
      .expansion-grid:has(.expansion-item:nth-child(4):hover) {
        grid-template: 1fr var(--track) / 1fr var(--track);
      }
    }
  }
}
