#visit-page {
  #hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
      z-index: 1; /* The image is behind the text */
    }

    h1 {
      text-transform: uppercase;
      z-index: 2;
      margin: auto;
      //adjust to fit different pages
      color: $blue;
      width: 60%;
    }
  }

  #location-section {
    margin: 2%;
    #cobe {
      width: 700px;
      height: 700px;
    }
    //remove the default grid padding
    .grid-item:not(:first-child) {
      padding: 0;
    }
  }
  .empty-header {
    height: 5rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;

    .back-btn {
      visibility: hidden;
    }
  }
  //accordion style
  .ac {
    border-bottom: 1px solid black;
    background-color: $bg;

    .ac-trigger {
      cursor: pointer;
      background-color: $bg;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2% 4%;
      &:hover {
        background-color: $blue;
        transition: all 0.3s ease;
      }
      svg {
        transition: transform 0.5s ease;
        path {
          stroke-width: 2;
        }
      }
    }

    .ac-panel {
      overflow: hidden;
      transition: all 0.3s ease;
    }

    &.js-enabled .ac-panel {
      visibility: hidden;
    }
    &.ac.is-active {
      .ac-trigger {
        background-color: $blue;
        svg {
          transform: rotate(180deg);
        }
      }
      .ac-panel {
        visibility: visible;
      }
    }
  }

  .location-list {
    background-color: $bg;

    .location-item {
      border-top: 1px solid black;
      padding: 2% 4%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      //they should be treated as button to reveal more information
      cursor: pointer;
      span {
        font-size: 2rem;
        text-transform: capitalize;
      }
      &:hover {
        span:first-child {
          font-style: italic;
        }
      }
    }
  }
}
